{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form method="POST"    action="{{ url_for('upload') }}"  enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.upload.label }} <br/> <span style="color:red">*</span>Please enter a file and submit <br /><br/> {{ form.upload(size="40")}}<br /> <br />
    <ul>
    {% for error in form.upload.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>

  <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
</form>
{% endblock %}
